# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
.envrc

# Odoo
*.log
filestore/
sessions/
attachments/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database dumps
*.sql
*.dump
